@import "../note-card/note-card.component.css";

.card-wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: start;
  gap: 3rem;
}

.card {
  display: flex;
  align-items: center;
  justify-content: center;
  border-style: dashed;
}

