.note-content {
    padding: 0;
    border: none;
    outline: none;
    resize: none;
    display: block;
    width: 100%;
}

.note-title {
    padding: 0.375rem 0.75rem;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.last-saved {
    display: inline-block;
}

.note-menu {
    position: fixed;
    top: 57px;
    width: 100%;
}

.note-body {
    margin: 70px 0;
}