a {
  text-decoration: none;
}

.card {
  width: 18rem; !important;
  height: 20rem; !important;
  transition: all .2s ease;
}

.card:hover {
  background-color: #ededed;
}

.card-text {
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 10; !important;
  -webkit-box-orient: vertical;
  text-overflow: ellipsis;
}
